*{
  margin: 0px;
  padding: 0px;
}
.social li a{
	display: inline-block;
	text-decoration: none;
}

header{
   
    
     left: 0;
   
    width: 100%;
    
    
}

 /* this is for logo design*/

.logo{
    margin-top: 18px; 
    text-decoration: none;
}
.logo a{
    text-decoration: none;
    color: #444;
    display: inline-block;
    font-size: 30px;
    font-weight: 600px;
   
    
}
.active1 a{

  color: #44B4E1;
}
/* this is for logo design hover*/
.logo a:hover{
     text-decoration: none;
}
/* this is for navbar meenu*/
.main-menu{
    
}
.main-menu ul{}
.main-menu ul li{
    list-style: none;
    display: inline-block;
}
/* this is for menu list design*/
.main-menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500px;
    color: #444;
    padding: 30px 5px;
    display: block;
}
/* this is for menu list hover design*/
.main-menu ul li a:hover{
    text-decoration: none;
    color: #44B4E1;
   
}
/* this is for doropdown list  design*/
.dropdown .show a{
   padding: 5px 5px;
}
.main{
  background-image: url(img/new.jpg);
  width: 100%;
  height: 300px;
      background-size: cover;
    background-position: center;
}
.main_in {
  text-align: center;
  color: black;
  padding: 80px 40px;
}

.gl
{
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
}
.col-md-4{
  margin-bottom: 20px;
}
.this{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  
}
.btn-danger{
  background-color: #92278F;
  columns: white;
  text-decoration: none;
  padding: 20px 10px;
}
.btn-danger:hover{
  background-color: #7E007b;
  color: white;
  text-decoration: none;
}

footer{
  background-color: #121921;
    color: rgba(255,255,255,0.7);
    margin-top: 100px;
}
.follow{
      margin-top: 15px;
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
}
.follow ul li:first-child{
  color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
    font-size: 0.8125rem;
}
.follow ul li{
  display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 5px;
}
.follow ul li i{
  font-size: 25px;
      margin-right: 10px;
    color: #fff;
}
.follow ul li a:hover{
color: white;
}
.use h5{
 margin-left: 45px;
  margin-top: 10px;
  font-size: 20px;
  font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}
.use ul li
{
  padding: 10px;
}
.use ul li a{
  text-decoration: none;
  color: #fff;
}
.contact ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
}