*{
  margin: 0px;
  padding: 0px;
}
.social li a{
	display: inline-block;
	text-decoration: none;
}

header{
   
    
     left: 0;
   
    width: 100%;
    
    
}

 /* this is for logo design*/

.logo{
    margin-top: 18px; 
    text-decoration: none;
}
.logo a{
    text-decoration: none;
    color: #444;
    display: inline-block;
    font-size: 30px;
    font-weight: 600px;
   
    
}
.active1 a{

  color: #44B4E1;
}
/* this is for logo design hover*/
.logo a:hover{
     text-decoration: none;
}
/* this is for navbar meenu*/
.main-menu{
    
}
.main-menu ul{}
.main-menu ul li{
    list-style: none;
    display: inline-block;
}
/* this is for menu list design*/
.main-menu ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500px;
    color: #444;
    padding: 30px 5px;
    display: block;
}
/* this is for menu list hover design*/
.main-menu ul li a:hover{
    text-decoration: none;
    color: #44B4E1;
   
}
/* this is for doropdown list  design*/
.dropdown .show a{
   padding: 5px 5px;
}

.item {
    display: none;
    position: relative;
    .transition(.6s ease-in-out left);
}
.body{
  margin-top: 60px;

}
.lerning h1{
color: #E84B60;
font-size: 28px;

}
.body p{
color: #BAABA2;
}
.lerning1 h1{
color: #FFC000;
font-size: 28px;

}
.lerning2 h1{
color: #FC7F5A;
font-size: 28px;

}
.lerning3 h1{
color: #92278F;
font-size: 28px;

}
.about
{
  margin-top: 70px;
  background-color: #39A5D5;
}
.about2{
  margin-top: 40px;
}
.write{
  margin-top: 70px;
}
.write h1{
  font-size: 34px;
  
  color: white;

}
.write p{
  font-size: 18px;
  letter-spacing: .5px;
  color: white;
}
.btn-primary{
  background-color: #7E007B;
  color: white;
  padding: 20px;
  border: none;
}
.btn-primary:hover{
  background-color: #92278F;
  color: white;
}
.btn-danger{
  background-color: #ECB200;
  color: white;
  padding: 20px;
  border: none;
}
.btn-danger:hover{
background-color: #ECB200;
  color: white;

}
.this
{
  margin-bottom: 30px;
}
.popular{
  margin-top: 90px;
  
}
.main_p{
  text-align: center;
  margin-bottom: 30px;
}
.main_p h1{
  color: #92278F;
  font-size: 40px;
}
.main_p p{
  line-height: 30px;
  color: #BAABA2;
  font-size: 18px;
}

.tabel{
  margin-top: 60px;

}
.tabel img{
  width: 100%;
}
.tit th{
  border: 1px solid white;
  padding: 18px ;
}
 .one{
  background: #92278F;
  color: white;
}
 .two{
  background: #E84B3A;
  color: white;
}
 .three{
  background: #FC7F0C;
  color: white;
}
.body_1{
  margin-top: 40px;
}
.body_1 h1{
color: #FFC000;
}
.body_1 span{
  color: red;
}
.body_1 p{
     font-size: 16px;
    color: #707070;
    line-height: 24px;
}
.adress{
  background: #FFC000;
  color: white;
  padding: 10px;
}
.adress p{
  font-size: 16px;
  line-height: 24px;

}
.btn-primary{
  margin-top: 40px;
}

.meet{
  background-color: #63bA4b;
}
.main_m{
text-align: center;
margin-top: 60px;
}
.main_m h1{
  color: white;
  line-height: 26px;
}
.main_m p{
  color: white;
  line-height: 24px;
  font-size: 18px;
  margin-bottom: 40px;
}
.details2 img{
margin-left: 56px;
height: 313px;
}
.person{
  background-color: #92278F;
  color: white;
  padding: 10px;
  

height: 313px;


}
.details2{
  margin-bottom: 30px;
}
.main_m h1{
  margin-bottom: 30px;
}
.person h5{
  font-size: 18px;
}
.person span{
  font-size: 15px;
}
.person p{
  font-size: 18px;
  line-height: 24px;
  margin-top: 30px;
}
.person a{
  margin-top: 40px;
  color: white;
  text-decoration: none;
}
.person a:hover{
  text-decoration: none;
}
footer{
  background-color: #121921;
    color: rgba(255,255,255,0.7);
}
.follow{
      margin-top: 15px;
    animation-delay: 1.1s;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
}
.follow ul li:first-child{
  color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 13px;
    font-size: 0.8125rem;
}
.follow ul li{
  display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 5px;
}
.follow ul li i{
  font-size: 25px;
      margin-right: 10px;
    color: #fff;
}
.follow ul li a:hover{
color: white;
}
.use h5{
 margin-left: 45px;
  margin-top: 10px;
  font-size: 20px;
  font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}
.use ul li
{
  padding: 10px;
}
.use ul li a{
  text-decoration: none;
  color: #fff;
}
.contact ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
}